
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">
        <img src="https://www.recetaparacocinar.com/wp-content/uploads/2018/10/cropped-receta-para-cocinar-2.jpg" width="100%" height="280px" alt="Alternate Text" />
        <!--<h1 class="jumbotron-heading">Recetas de Cocina</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>-->
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                    <img src="~/imagenes/ceviche_camaron.jpg" width="100%" height="225" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="card-title">CEVICHE DE CAMARON</h5>
                        <p class="card-text">
                            INGREDIENTES:
                            <ul>
                                <li>2 tazas de camarón chico, limpio y sin cáscara</li>
                                <li>1/2 pieza de cebolla blanca picada finamente</li>
                                <li>5 piezas de jitomate picada finamente</li>
                                <li>4 piezas de chile serrano</li>
                                <li>1 cucharada de cilantro picada finamente</li>
                                <li>3/4 de taza de jugo de limón</li>
                                <li>1/4 de taza de aceite de oliva</li>
                                <li>1 cucharadita de sal</li>
                                <li>2 pizcas de pimienta</li>
                                <li>5 gotas de salsa picante</li>
                            </ul>

                            PREPARACIÓN:<br />
                            En un bowl grande, coloca los camarones, la cebolla, los jitomates, los chiles y el cilantro. Combina.
                            En un recipiente, mezcla muy bien el jugo de limón con el aceite, la sal, la pimienta y la salsa.
                            Agrega la mezcla de jugo a los camarones y revuelve. Tapa con papel plastificado y deja marinar en el refrigerador 45 minutos o hasta que los camarones hayan cambiado de color.
                            Sirve y decora con cuartos de limón y totopos de maíz.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">60 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/imagenes/paella.jpg" width="100%" height="225" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="card-title">PAELLA</h5>
                        <p class="card-text">
                            INGREDIENTES:
                            <ul>
                                <li>2 pizcas Azafrán</li>
                                <li>1 cucharada Sal de grano</li>
                                <li>1/2 taza Aceite de Oliva</li>
                                <li>150 g Carne de cerdo en trozos</li>
                                <li>200 g Pechugas de pollo en trozos</li>
                                <li>100 g Camarones</li>
                                <li>100 g Pulpo cocido</li>
                                <li>500 g Almeja</li>
                                <li>50 g Chorizo</li>
                                <li>1 kg Arroz</li>
                            </ul>

                            PREPARACIÓN:<br />
                            MUELE el azafrán con la sal de grano y disuelve en un poco de agua. Reserva.
                            CALIENTA el aceite de oliva en una paellera y fríe la carne de cerdo, durante 12 minutos. Agrega la pechuga de pollo, los camarones y el pulpo.
                            AÑADE el chorizo troceado y las almejas. Extiende bien e incorpora el arroz, cubre con suficiente agua.
                            ESPOLVOREA encima la mezcla de azafrán.
                            TAPA la paellera y cocina a fuego bajo, durante 30 minutos o hasta que el agua se evapore por completo; evita mover el arroz, para que no se bata.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">45 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/imagenes/guacomole.jpg" width="100%" height="225" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="card-title">GUACAMOLE</h5>
                        <p class="card-text">
                            INGREDIENTES:
                            <ul>
                                <li>100 g de Cebolla picada</li>
                                <li>35 g de Cilantro picado</li>
                                <li>20 g de Chile serrano picado</li>
                                <li>500 g de Aguacate</li>
                                <li>15 ml de Jugo de limón</li>
                                <li>20 ml de Aceite de oliva</li>
                            </ul>
                            PREPARACIÓN:<br />
                            Incorporar todos los ingredientes en un molcajete o tazón.
                            Agregar el aguacate y martajar con un tejolote o un machacador.
                            Sazonar con sal.
                            Reservar en refrigeración.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">15 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/imagenes/enchiladas.jpg" width="100%" height="225" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="card-title">ENCHILADAS VERDES</h5>
                        <p class="card-text">
                            INGREDIENTES:
                            <ul>
                                <li>1 Kg de tomates verdes</li>
                                <li>3 chiles serranos</li>
                                <li>1 cebolla blanca</li>
                                <li>2 dientes de ajo</li>
                                <li>1 taza de cilantro (lavado y desinfectado)</li>
                                <li>
                                    1 pechuga de pollo sin piel y con hueso
                                    una hoja de laurel
                                </li>
                                <li>1/2 taza de queso oaxaca light deshebrado</li>
                            </ul>

                            PREPARACION:<br />
                            Pon a cocer la pechuga de pollo en una olla con suficiente agua, la mitad de la cebolla y la hoja de laurel.
                            En otra olla cuece los tomates junto con los chiles (15 minutos es suficiente).
                            Licúa los tomates con la cebolla, los dientes de ajo, el cilantro y media taza del agua donde cocinaste los tomates.
                            Cuela todo y regresa a una olla, sazona con sal y cuece por 15 minutos más.
                            Para preparar las enchiladas calienta las tortillas (envueltas en una servilleta de tela dentro e una bola de plástico por unos seg en el microondas o caliéntalas en un comal o sartén)
                            Ya calientes sumérgelas rápidamente en la salsa, rellena con el pollo, cubre con un poco de salsa. Puedes ponerle queso por encima y crema de leche
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">35 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/imagenes/tostadas-ceviche-pulpo.jpg" width="100%" height="225" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="card-title">TOSTADAS DE CEVICHE CON PULPO</h5>
                        <p class="card-text">
                            INGREDIENTES:
                            <ul>
                                <li>400 grs Pulpo precocido, en trozos</li>
                                <li>1/2 taza Jugo de Naranja</li>
                                <li>1/2 taza Jugo de Tomate</li>
                                <li>1/4 taza Aceite de Oliva</li>
                                <li>3 jitomates , sin semillas y picados</li>
                                <li>1/2 Cebolla , picada</li>
                                <li>2 Chiles verdes , en rodajas</li>
                                <li>1/2 Pepino , en cubos</li>
                                <li>1/2 Pimiento Amarillo , picado</li>
                            </ul>

                            ACOMPAÑAR CON:
                            <ul>
                                <li>1/2 taza Mayonesa</li>
                                <li>1 Aguacate , en puré</li>
                                <li>12 Tostada de maíz</li>
                                <li>sal y pimienta al gusto</li>
                            </ul>
                            PREPARECIÓN:<br />
                            MEZCLA los jugos y el aceite de oliva.
                            AÑADE el resto de los ingredientes y la mitad del cilantro. Mezcla, salpimienta y reserva.

                            <br /><br />ACOMPAÑAMIENTO:<br />
                            MEZCLA el puré de aguacate con la mayonesa y el resto del cilantro. Salpimienta.
                            UNTA las tostadas con el aguacate y coloca el ceviche encima. Sirve.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">10 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/imagenes/costillas-a-la-bbq.jpg" width="100%" height="225" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="card-title">COSTILLAS A LA BBQ</h5>
                        <p class="card-text">
                            INGREDIENTES:
                            <ul>
                                <li>1 kg Costilla de cerdo , en trozos</li>
                                <li>1/2 Cebolla picada</li>
                                <li>1/2 taza Salsa Cátsup</li>
                                <li>1 cucharada Mostaza</li>
                                <li>1/2 taza Salsa de soya</li>
                                <li>1 taza Jugo de Naranja</li>
                                <li>1 cucharada Miel</li>
                                <li>1 cucharada Salsa Picante</li>
                                <li>1 cucharada Fécula de Maíz (maicena)</li>
                                <li>Sal y pimienta al gusto</li>
                            </ul>

                            PREPARACION<br />
                            CALIENTA el aceite y dora las costillas de cerdo por ambos lados. Salpimienta.
                            COLOCA en una charola.
                            SOFRÍE la cebolla y añade la salsa cátsup, la mostaza, la salsa de soya. Mezcla con un batidor globo.
                            VIERTE el jugo de naranja y mezcla. Añade la miel, la fécula de maíz y salpimienta.
                            COCINA por 20 minutos. Deja enfriar y barniza las costillas con la salsa bbq.
                            PRECALIENTA el horno a 160 ºC.
                            TAPA con aluminio y hornea por 45 minutos o hasta que estén suaves y doradas.
                            SIRVE y acompaña con más salsa bbq.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">80 mins</small>
                        </div>
                    </div>
                </div>
            </div
        </div>
    </div>
</div>

